@model KonneyTM.ViewModels.VenueViewModel

@{
    ViewBag.Title = "Edit Venue";
}
@Styles.Render("~/PanelStyles")

<section class="Panel-EditVenue">
    <div class="Header mb-5">
        <h2>Edit Venue</h2>
    </div><!--/.Header-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-4 offset-md-4 text-center">
                <h4>Venue Name</h4>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger text-center" })
            </div>

            <div class="form-group col-md-4 offset-md-4 text-center">
                <h4>Phone Number</h4>
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger text-center" })
            </div>

            <div class="form-group col-md-4 offset-md-4 text-center">
                <h4>Address</h4>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger text-center" })
            </div>

            <div class="form-group col-md-4 offset-md-4 text-center">
                <h4>Postcode</h4>
                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger text-center" })
            </div>

            <div class="form-group w-100 d-flex justify-content-center pt-2">
                <div class="ButtonOut">
                    <input type="submit" value="Save" class="ButtonIn btn btn-default" />
                </div>
            </div>
        </div>
    }
</section>
