@model List<KonneyTM.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "People";
}

@Styles.Render("~/PanelStyles")

    <section class="People-Index">

        <div class="Header">
            <h2>People</h2>
        </div><!--/.Header-->

        <article class="PeopleRow row">
            @foreach (var item in Model)
            {
                <div class="PersonCol col-2">
                    <div class="PersonCard text-center pt-4">
                        <a class="EditButton" href="@Url.Action("Edit", new { id = item.ID})">
                            <i class="EditPerson fas fa-edit fa-2x"></i>
                        </a><!--/.EditButton-->
                        <a class="DeleteButton" data-toggle="modal" data-target="#ConfirmModal"
                           onclick="$('#ConfirmModal .modal-body').html('@item.FirstName @item.LastName will be deleted from your people list.');
                                                $('#ConfirmModal .Confirm').attr('href', '@Url.Action("Delete", new { id = @item.ID })')">
                            <i class="DeletePerson fas fa-trash-alt fa-2x"></i>
                        </a><!--/.DeleteButton-->
                        <h4 class="PersonName d-block">@item.FirstName</h4>
                        <h4 class="PersonName d-block">@item.LastName</h4>
                        <h5 class="PersonEmail lead d-block">@item.Email</h5>
                        <h5 class="PersonPhone lead d-block">@item.PhoneNumber</h5>
                    </div><!--/.PersonCard-->
                </div><!--/.PersonCol-->
            }
            <div class="NewPersonColumn col-2 pt-3">
                <a class="NewPersonLink" href="@Url.Action("Create")">
                    <div class="NewPerson">
                        <i class="fas fa-plus fa-4x"></i>
                    </div><!--/.NewPerson-->
                </a><!--/.NewPersonLink-->
            </div><!--/.NewPersonColumn-->
        </article><!--/.PeopleRow-->

        @Html.Partial("_ConfirmModalPartial")
    </section>
