@model KonneyTM.ViewModels.ChangeVenueVM

@{
    ViewBag.Title = "Select New Venue for Event";
}
@Styles.Render("~/PanelStyles")

<section class="Panel-Venues">

    <div class="Header">
        <h2>Select Venue</h2>
    </div><!--/.Header-->

    <article class="VenueRow row">
        @foreach (var item in Model.Venues)
        {
            <div class="VenueCol col-md-4">
                <a href="@Url.Action("SubmitVenueChange", "Demo", new { eventID = Model.EventID, venueID = item.ID })">
                    <div class="VenueCard" id="@item.ID" style="background-image: url(/Images/Venues/@item.ImagePath)">
                        <div class="overlay text-center d-flex justify-content-center align-items-center">
                            <div class="Align">
                                <h4 class="VenueName d-block">@item.Name</h4>
                                <h5 class="VenuePhone lead d-block">@item.PhoneNumber</h5>
                                <h5 class="VenueAddress lead d-block">@item.Address</h5>
                                <h5 class="VenuePostCode lead d-block">@item.PostCode</h5>
                            </div>
                        </div><!--/.Align-->
                    </div><!--/.VenueCard-->
                </a>
            </div><!--/.VenueCol-->
        }
    </article><!--/.VenueRow-->
</section>

<article class="DeleteVenueModal modal fade" id="DeleteVenueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger">Delete Venue</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!--/.modal-header-->
            <p class="modal-body font-weight-bold mb-0"></p>
            <div class="modal-footer">
                <a class="CloseModal btn btn-secondary text-light" data-dismiss="modal">Close</a>
                <a class="ConfirmDelete btn btn-danger text-light">Delete</a>
            </div><!--/.modal-footer-->
        </div><!--/.modal-content-->
    </div><!--/.modal-dialog-->
</article><!--/.DeleteVenueModal-->
