@model KonneyTM.ViewModels.EventViewModel
@{
    ViewBag.Title = Model.Title;
}
@Styles.Render("~/PanelStyles")

    <section class="Events-Event">

        <div class="Header">
            <h2>Event Details</h2>
        </div><!--/.Header-->

        <article class="EventsContainer container-fluid">
            <div class="row text-center">
                <div class="col-6">
                    <h2>Event</h2>
                    <div class="EventDetailsCard" style="background-image:url(/Images/Events/@Model.ImagePath)">
                        <div class="overlay text-center d-flex justify-content-center align-items-center">
                            <div class="Align w-100">
                                <h4 class="mr-0">
                                    <a class="EditTitleButton" data-toggle="modal" data-target="#EditTitleModal">
                                        <i class="Edit fas fa-edit mr-1"></i>
                                    </a><!--/.EditTitleButton-->
                                    @Model.Title
                                </h4><!--Title-->
                                <span>

                                </span><br /><br />
                                <h4 class="mr-2">
                                    <a class="EditDateButton" data-toggle="modal" data-target="#EditDateModal">
                                        <i class="Edit fas fa-edit mr-1"></i>
                                    </a><!--/.EditDateButton-->
                                    Date:
                                </h4>
                                <span>
                                    @Model.Date.ToLongDateString()

                                </span> <br /><br />

                                <h4 class="mr-2">
                                    <a class="EditTimeButton" data-toggle="modal" data-target="#EditTimeModal">
                                        <i class="Edit fas fa-edit mr-1"></i>
                                    </a><!--/.EditTitleButton-->
                                    Time:
                                </h4>
                                <span>
                                    @Model.Time.ToShortTimeString()
                                </span>
                            </div><!--/.Align-->
                        </div><!--/.overlay-->
                        <a class="ChangeImageButton" data-toggle="modal" data-target="#ChangeImageModal">
                            <i class="ChangeImage fas fa-file-image mr-1 fa-2x"></i>
                        </a><!--/.EditTitleButton-->
                    </div><!--/.EventCard-->
                </div>
                <div class="col-6">
                    <h2>Venue</h2>
                    <div class="EventVenueCard" style="background-image: url(/Images/Venues/@Model.Place.ImagePath)">
                        <div class="overlay text-center d-flex justify-content-center align-items-center">
                            <div class="Align">
                                <h4 class="VenueName d-block">@Model.Place.Name</h4>
                                <h5 class="VenuePhone lead d-block">@Model.Place.PhoneNumber</h5>
                                <h5 class="VenueAddress lead d-block">@Model.Place.Address</h5>
                                <h5 class="VenuePostCode lead d-block">@Model.Place.PostCode</h5>
                                <a class="ChangeVenueButton" data-toggle="modal" data-target="#ConfirmModal"
                                   onclick="$('#ConfirmModal .modal-body').html('Change venue for this event?'); $('.modal-title').html('Venue Change');
                                             $('#ConfirmModal .Confirm').attr('href', '@Url.Action("ChangeVenue", new { eventID = Model.ID })')">
                                    <i class="ChangeVenue fas fa-exchange-alt fa-2x"></i>
                                </a><!--/.ChangeVenueButton-->
                            </div>
                        </div><!--/.Align-->
                    </div><!--/.VenueCard-->
                </div>
                <h2 class="EventPeopleTitle mb-3 mt-3 col-xl-12">People Attending</h2>
                @foreach (var item in Model.PeopleAttending)
                {
                    <div class="PersonCol col-2">
                        <div class="PersonCard text-center pt-4">
                            <h4 class="PersonName d-block">@item.FirstName</h4>
                            <h4 class="PersonName d-block">@item.LastName</h4>
                            <h5 class="PersonEmail lead d-block">@item.Email</h5>
                            <h5 class="PersonPhone lead d-block">@item.PhoneNumber</h5>

                            <a class="RemoveButton" data-toggle="modal" data-target="#ConfirmModal"
                               onclick="$('#ConfirmModal .modal-body').html('@item.FirstName @item.LastName will be removed from this event.'); $('#ConfirmModal .modal-title').html('Remove Person');
                                         $('#ConfirmModal .Confirm').attr('href', '@Url.Action("RemovePerson", new { eventID = Model.ID, personID = item.ID })')">
                                <i class="RemovePerson fas fa-times text-danger fa-2x"></i>
                            </a><!--/.DeleteButton-->
                        </div><!--/.PersonCard-->
                    </div><!--/.PersonCol-->
                }
                @if (Model.PeopleAttending == null || Model.PeopleAttending.Count < Model.PeopleList.Count)
                {
                    <div class="NewPersonColumn col-2 pt-3">
                        <a class="NewPersonLink" href="@Url.Action("AddPerson", new { eventID = Model.ID })">
                            <div class="NewPerson">
                                <i class="fas fa-plus fa-4x"></i>
                            </div><!--/.NewPerson-->
                        </a><!--/.NewPersonLink-->
                    </div><!--/.NewPersonColumn-->
                }
            </div><!--/.row-->
        </article><!--/.EventsContainer-->

        @Html.Partial("_EditModalsPartial")
        s
    </section>
