@model KonneyTM.ViewModels.UserViewModel
@{
    ViewBag.Title = "Events";
}
@Styles.Render("~/PanelStyles")

<section class="Events-Index">

    <div class="Header">
        <h2>Events</h2>
    </div><!--/.Header-->

    <article class="EventsContainer container-fluid">
        <div class="OuterRow row">

            @if(Model.Events != null)
            {
                foreach (var item in Model.Events)
                {
                    <div class="OuterColumn col-12 col-md-6">
                        <div class="EventCard" style="background-image:url(/Images/Events/@item.ImagePath)">
                            <div class="overlay text-center d-flex justify-content-center align-items-center">
                                <div class="Align w-100">
                                    <h4 class="mb-3 d-block">@item.Title</h4>
                                    <h4>Venue:</h4><span>@item.Place.Name</span> <br />
                                    <h4>Date:</h4><span>@item.Date.ToLongDateString()</span> <br />
                                    <h4>Time:</h4><span>@item.Time.ToShortTimeString()</span> <br />
                                    <a href="@Url.Action("Event", "Events", new { id = item.ID })">
                                        <i class="EventDetails mt-3 fas fa-info-circle fa-2x"></i>
                                    </a><!--/.DetailsButton-->
                                </div><!--/.Align-->
                            </div><!--/.overlay-->
                        </div><!--/.EventCard-->
                    </div><!--/.OuterColumn-->
                }
            }

            @if (Model.Venues.Any() && Model.People.Any())
            {
                <div class="NewEventColumn col-12 col-md-6 pt-md-4">
                    <a class="NewEventLink" href="@Url.Action("Create")">
                        <div class="NewEvent">
                            <i class="Plus fas fa-plus fa-5x"></i>
                        </div>
                    </a><!--/.NewEventLink-->
                </div><!--/.NewEventColumn-->
            }
            else
            {
                <h3 class="pl-4 text-danger">To create an event, you must have at least one Person in your People list and one Venue in your Venues...</h3>
            }

        </div><!--/.OuterRow-->
    </article><!--/.EventsContainer-->

</section>
