@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item active">
        @Html.ActionLink("Events", "Events", "Panel", null, new { @class = "nav-link text-light" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("People", "People", "Panel", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-light" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Venues", "Venues", "Panel", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-light" })
    </li>


}
else if (Request.Path.Contains("Demo"))
{
    <li class="QuitDemo nav-item">
        @Html.ActionLink("Quit Demo", "Index", "Home", null, new { @class = "nav-link text-light" })
    </li>
}
else
{
    <li class="nav-item active">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-light" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-light" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-light" })
    </li>
}
