@model KonneyTM.ViewModels.EventViewModel
@{
    ViewBag.Title = Model.Title;
}
@Styles.Render("~/PanelStyles")

    <section class="Panel-Events">

        <div class="Header">
            <h2>Event Details</h2>
        </div><!--/.Header-->

        <article class="EventsContainer container-fluid">
            <div class="row text-center">
                <div class="col-6">
                    <h2>Event</h2>
                    <div class="EventDetailsCard" style="background-image:url(/Images/Events/@Model.ImagePath)">
                        <div class="overlay text-center d-flex justify-content-center align-items-center">
                            <div class="Align w-100">
                                <h4 class="mb-3 d-block">@Model.Title</h4>
                                <h4>Date:</h4><span>@Model.Date.ToLongDateString()</span> <br />
                                <h4>Time:</h4><span>@Model.Time.ToShortTimeString()</span> <br />
                            </div><!--/.Align-->
                        </div><!--/.overlay-->
                    </div><!--/.EventCard-->
                </div>
                <div class="col-6">
                    <h2>Venue</h2>
                    <div class="EventVenueCard" style="background-image: url(/Images/Venues/@Model.Place.ImagePath)">
                        <div class="overlay text-center d-flex justify-content-center align-items-center">
                            <div class="Align">
                                <h4 class="VenueName d-block">@Model.Place.Name</h4>
                                <h5 class="VenuePhone lead d-block">@Model.Place.PhoneNumber</h5>
                                <h5 class="VenueAddress lead d-block">@Model.Place.Address</h5>
                                <h5 class="VenuePostCode lead d-block">@Model.Place.PostCode</h5>
                                <a class="ChangeVenueButton"  data-toggle="modal" data-target="#RemovePersonModal"
                                    onclick="$('.modal-body').html('Change venue for this event?'); $('.modal-title').html('Venue Change');
                                             $('.Confirm').attr('href', '@Url.Action("ChangeVenue", "Demo", new { eventID = Model.ID })')">
                                    <i class="ChangeVenue fas fa-exchange-alt fa-2x"></i>
                                </a><!--/.ChangeVenueButton-->
                            </div>
                        </div><!--/.Align-->
                    </div><!--/.VenueCard-->
                </div>
                <h2 class="EventPeopleTitle mb-3 mt-3 col-xl-12">People Attending</h2>
                @foreach (var item in Model.PeopleAttending)
                {
                    <div class="PersonCol col-2">
                        <div class="PersonCard text-center pt-4">
                            <h4 class="PersonName d-block">@item.FirstName</h4>
                            <h4 class="PersonName d-block">@item.LastName</h4>
                            <h5 class="PersonEmail lead d-block">@item.Email</h5>
                            <h5 class="PersonPhone lead d-block">@item.PhoneNumber</h5>

                            <a class="RemoveButton" data-toggle="modal" data-target="#RemovePersonModal"
                                onclick="$('.modal-body').html('Remove @item.FirstName @item.LastName from this event?'); $('.modal-title').html('Remove Person');
                                         $('.Confirm').attr('href', '@Url.Action("RemovePerson", "Demo", new { eventID = Model.ID, personID = item.ID })')">
                                <i class="RemovePerson fas fa-trash-alt fa-2x"></i>
                            </a><!--/.DeleteButton-->
                        </div><!--/.PersonCard-->
                    </div><!--/.PersonCol-->
                }
                @if (Model.PeopleAttending == null || Model.PeopleAttending.Count < Model.PeopleList.Count)
                {
                    <div class="NewPersonColumn col-2 pt-3">
                        <a class="NewPersonLink" href="@Url.Action("AddPerson", "Demo", new { eventID = Model.ID })">
                            <div class="NewPerson">
                                <i class="fas fa-plus fa-4x"></i>
                            </div><!--/.NewPerson-->
                        </a><!--/.NewPersonLink-->
                    </div><!--/.NewPersonColumn-->
                }
            </div><!--/.row-->
        </article><!--/.EventsContainer-->

        <article id="RemovePersonModal" class="DeletePersonModal modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100">Confirm</h4>
                    </div><!--/.modal-header-->
                    <p class="modal-body text-center font-weight-bold mb-0"></p>
                    <div class="modal-footer d-flex justify-content-center pt-4">
                        <a class="CloseModal btn btn-secondary text-light" data-dismiss="modal">Cancel</a>
                        <a class="Confirm btn btn-danger text-light">Confirm</a>
                    </div><!--/.modal-footer-->
                </div><!--/.modal-content-->
            </div><!--/.modal-dialog-->
        </article><!--/.DeletePersonModal-->
    </section>
