@model IEnumerable<KonneyTM.Models.Event>
@{
    ViewBag.Title = "Events";
}
@Styles.Render("~/PanelStyles")

    <section class="Demo-Events">

        <div class="Header">
            <h2>Events</h2>
        </div><!--/.Header-->

        <article class="EventsContainer container-fluid">
            <div class="OuterRow row gutter">
                @foreach (var item in Model)
                {
                    <div class="OuterColumn col-6">
                        <div class="EventCard">
                            <div class="InnerRow row">
                                <div class="InnerColumn col-7">
                                    <h3>@item.Title</h3>
                                    <div class="Info">
                                        <h4>Venue:</h4><span>@item.Place.Name</span> <br />
                                        <h4>Date:</h4><span>@item.Time.ToLongDateString()</span> <br />
                                        <h4>Time:</h4><span>@item.Time.ToShortTimeString()</span> <br />
                                    </div><!--/.Info-->
                                    <div class="Controls">
                                        <div class="Left mr-auto">
                                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                                        </div><!--/.Left-->
                                        <div class="Right">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </div><!--/.Right-->
                                    </div><!--/.Controls-->
                                </div><!--/.InnerColumn-->
                                <div class="PictureColumn col-5">
                                    <div class="Picture">
                                    </div><!--/.Picture-->
                                </div><!--/.PictureColumn-->
                            </div><!--/.InnerRow-->
                        </div><!--/.EventCard-->
                    </div><!--/.OuterColumn-->
                }
            <div class="NewEventColumn col-6">
                <a class="NewEventLink" href="@Url.Action("NewEvent", "Demo")">
                    <div class="NewEvent">
                        <i class="fas fa-plus fa-9x"></i>
                    </div>
                </a>
            </div>
            </div><!--/.OuterRow-->
        </article><!--/.EventsContainer-->

    </section>
