@model IEnumerable<KonneyTM.ViewModels.EventViewModel>
@{
    ViewBag.Title = "Events";
}
@Styles.Render("~/PanelStyles")

    <section class="Panel-Events">

        <div class="Header">
            <h2>Events</h2>
        </div><!--/.Header-->

        <article class="EventsContainer container-fluid">
            <div class="OuterRow row gutter">
                @foreach (var item in Model)
                {
                    <div class="OuterColumn col-6">

                        <a class="DetailsButton" href="@Url.Action("EventDetails", "Demo", new { id = item.ID })">
                            <i class="EventDetails fas fa-info-circle fa-2x"></i>
                        </a><!--/.EditButton-->
                        <a class="EditButton" href="@Url.Action("EditEvent", "Demo", new { id = item.ID })">
                            <i class="EditEvent fas fa-edit fa-2x"></i>
                        </a><!--/.EditButton-->
                        <a class="DeleteButton" data-toggle="modal" data-target="#DeleteVenueModal"
                            onclick="$('.modal-body').html('@item.Title will be deleted. Are you sure?');
                                            $('.ConfirmDelete').attr('href', '@Url.Action("DeleteVenue", "Demo", new { id = @item.ID })')">
                            <i class="DeleteEvent fas fa-trash-alt fa-2x"></i>
                        </a><!--/.DeleteButton-->

                        <div class="EventCard">
                            <div class="InnerRow row pb-0">
                                <div class="InnerColumn col-6 pb-0">
                                    <h3>@item.Title</h3>
                                    <div class="Info pb-0">
                                        <h4>Venue:</h4><span>@item.Place.Name</span> <br />
                                        <h4>Date:</h4><span>@item.Date.ToLongDateString()</span> <br />
                                        <h4 class="pb-0">Time:</h4><span>@item.Time.ToShortTimeString()</span> <br />
                                    </div><!--/.Info-->
                                </div><!--/.InnerColumn-->
                                <div class="PictureColumn col-6">
                                    <div class="Picture" style="background-image: url(/Images/Venues/@item.Place.ImagePath)">
                                    </div><!--/.Picture-->
                                </div><!--/.PictureColumn-->
                            </div><!--/.InnerRow-->
                        </div><!--/.EventCard-->
                    </div><!--/.OuterColumn-->
                }
            <div class="NewEventColumn col-6">
                <a class="NewEventLink" href="@Url.Action("NewEvent", "Demo")">
                    <div class="NewEvent">
                        <i class="fas fa-plus fa-9x"></i>
                    </div>
                </a><!--/.NewEventLink-->
            </div><!--/.NewEventColumn-->
            </div><!--/.OuterRow-->
        </article><!--/.EventsContainer-->

    </section>
